:root{
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgb(177, 175, 173);        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(22, 22, 14);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(124, 124, 123);  /* creates padding around scroll thumb */
  }

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 1rem 0px;
    border: none;
    border-radius: 0;
    margin-top: -10px;
    margin-left:-15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    box-shadow: none;
    max-height:80px;
}

.nav-link{
    margin-right: 2rem;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.disabled{
    display:none;
    cursor: not-allowed;
    pointer-events: none;
}


header{
    max-height:80px;
}

@media (max-width:992px){
    header{
        max-height: 65px;
    }
    .navbar{
        padding:0;
        margin-top:-20px;
    }
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #000;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}


#dismiss {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    background: rgb(46, 46, 46);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: rgb(46, 46, 46);
    color: rgb(155, 151, 151);
}


#sidebarCollapse{
    height:10vh;
    width:10vw;
    max-width:80px;
    min-width:60px;
    
    background:transparent;
    border:none !important;
}

#sidebar .sidebar-header {
    padding: 15px 10px 10px;
    background: rgb(46, 46, 46);
}

#sidebar ul.components {
    padding: 20px 10px;
    border-bottom: 1px solid #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}


/* ---------------------------------------------------
    JUMBOTRON
----------------------------------------------------- */

.jumbotron{
  
    padding:0;
  
}

.responsive {
    max-width: 100%;
    height: auto;
  }




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
    top: 0;
    right: 0;
}

.heading{
    margin-top:20vh;
    margin-bottom:10vh;
    text-align: center;
}
.service-imgs{
    margin:auto;
    padding:5vh;
    height:90vh;
    overflow:scroll;
    overflow-x:hidden;
    border: solid white 2px;
    border-radius:15px;
    box-shadow:1px 1px 5px rgb(87, 86, 86) inset;
}
.service-imgs::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  .service-imgs::-webkit-scrollbar-track {
    background: rgb(177, 175, 173);        /* color of the tracking area */
  }
  .service-imgs::-webkit-scrollbar-thumb {
    background-color: rgb(2, 2, 2);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(124, 124, 123);  /* creates padding around scroll thumb */
  }

@media (max-width:600px){
    .service-imgs{
        margin-left:5vw;
        }
}
@media (min-width:1600px){
    .service-imgs{
        width:20vw;
        margin-right: 20vw;
    }
}

img{
    height:auto;
    /* width:40%; */
    /* vertical-align: bottom; */
  /* background-position: bottom; */
    /* background-repeat:  no-repeat;s */
    width: 100%;
    display: inline-block;
    background-size: cover;
}
img {
    max-width: 100%;
    display: inline-block;
  }
  /* For medium devices (e.g. tablets) */
  @media (min-width: 420px) {
    img {
      max-width: 70%;
    }
    .service-imgs{
        width:80vw;
    }
  }
  /* For large devices (e.g. desktops) */
  @media (min-width: 760px) {
    img {
      max-width: 80%;
    }
  }

  .img:hover{
      transform:scale(1.05);
  }
  
  /* .img p{
      position: absolute;
      bottom:0;
  } */